.about-wrapper {
  p {
    font-size: 18px;
    line-height: 1.67;
    font-family: $font-light;
    text-align: justify;
    margin: 0 0 30px 0;
    padding: 0 30px;
    text-indent: 20px;

    @media (max-width: $screen-xs-max) {
      padding: 0;
      margin: 0 0 15px 0;
      font-size: 16px;
      line-height: 20px;
    }
  }

  h3 {
    padding-left: 50px;
    font-size: 24px;
    line-height: 26px;
    font-family: $font-bold;
    margin: 0 0 30px 0;

    @media (max-width: $screen-xs-max) {
      padding-left: 20px;
      font-size: 16px;
      line-height: 18px;
      margin: 30px 0 15px 0;
    }
  }

  ul {
    padding: 0 0 0 30px;
    margin: 0;
    list-style: none;

    @media (max-width: $screen-xs-max) {
      padding: 0;
    }

    li {
      font-size: 18px;
      line-height: 1.67;
      font-family: $font-light;
      text-align: justify;
      margin: 0 0 30px 0;
      padding-left: 30px;
      position: relative;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        line-height: 20px;
        padding-left: 20px;
        margin: 0 0 15px 0;
        text-align: left;
      }

      &:before {
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: $main-color;
        position: absolute;
        top: 6px;
        left: 0;

        @media (max-width: $screen-xs-max) {
          width: 10px;
          height: 10px;
          top: 4px;
        }
      }
    }
  }
}