// media
$screen-lg-max: 1199px;
$screen-md-max: 991px;
$screen-sm-max: 767px;
$screen-xs-max: 736px;

// colors
$main-color: #b99d6b;
$bs-default: 0 13px 33px 0 rgba(185, 157, 107, 0.5);
$border-radius: 8px;
